@import "colors";
@import "mixin";
button {
    text-decoration: none;
    border: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    &:focus {
        outline: none
    }
}

.arrow-sprite {
    width: 20rem
}

.button {
    font-weight: 500;
    padding: 13rem 13rem 13rem 13rem;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    max-width: max-content;
}

.button--orange {
    background-color: $orange;
    transition: 0.3s;
    /* &:hover {
        background-color: transparent;
        transition: 0.3s
    } */
}

.button--reviews {
    transition: 0.3s;
    background-color: $grayblack;
    position: absolute;
    bottom: 15rem;
    left: 33%;
    &:hover {
        transition: 0.3s;
        background-color: #1f2122
    }
    &:after {
        content: "читать отзыв";
        position: absolute;
        left: 3rem;
        display: none
    }
    @include phone {
        color: transparent;
        bottom: 15%;
        &:after {
            display: inline-block;
            color: #fff
        }
    }
}

.nextscreen {
    height: 14rem;
    width: 29rem;
    margin-bottom: 40rem;
    display: inline-block;
    @include tablets {
        margin-bottom: 120rem;
    }
}

.nextscreen__sprite {
    max-height: 20rem;
    max-width: 30rem
}

.button-burger {
    display: none;
    position: fixed;
    top: 35rem;
    right: 20rem;
    /*
    background-color: #fff;
    width: 24px;
    height: 4px;
    border-radius: 2rem;
    margin-left: 30rem;
    &:before {
        content: "";
        width: 24px;
        height: 4px;
        border-radius: 2rem;
        position: absolute;
        background: #fff;
        top: -10rem;
        right: 0rem;
    }
    &:after {
        content: "";
        width: 24px;
        height: 4px;
        border-radius: 2rem;
        position: absolute;
        background: #fff;
        top: 10rem;
        right: 0rem
    } */
}

.button-burger__element {
    background-color: #fff;
    width: 24px;
    height: 4px;
    border-radius: 2rem;
    margin-left: 30rem;
    margin: 4rem;
    display: none
}

.navigation__buttons-block {
    display: flex;
    align-items: center
}

.slider-button {
    height: 100%;
    display: flex;
    align-items: center
}

@media screen and (max-width:768px) {
    .button-burger {
        display: block;
    }
    .button-burger__element {
        display: block;
    }
    .button--order {
        margin-right: 50rem
    }
}

.button--slider {
    font-family: 'ubuntu-medium'
}

.cross-pic {
    height: 20rem;
    width: 20rem;
}

.cross-pic--white {
    fill: #c1c2c2
}

.cross-pic--red {
    fill: #eb8364
}

.popup__exit--feedback {
    display: block;
    position: absolute;
    right: 10rem;
    top: 10rem;
}