@import "colors";
.button--navigation {
    background-color: $orange;
    transition: 0.3s;
    &:hover {
        background-color: transparent;
        transition: 0.3s
    }
}

.button--reviews {
    transition: 0.3s;
    background-color: $grayblack;
    &:hover {
        transition: 0.3s;
        background-color: #1f2122
    }
}