@import "colors";
@import "mixin";
.reviews {
    display: flex;
    width: 100%;
    flex-wrap: wrap
}

$grayblack: #2f3234;
.reviews__card {
    width: 25%;
    height: 50vh;
    filter: grayscale(1);
    overflow: hidden;
}

.reviews__card--girl1 {
    background: url(img/feedback/1girl.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--girl2 {
    background: url(img/feedback/2girl.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--hatguy {
    background: url(img/feedback/hat_guy.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--glassesyoung {
    background: url(img/feedback/glasses_young1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--blondeguy {
    background: url(img/feedback/blondeguy.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--girl3 {
    background: url(img/feedback/3girl.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--glassesold {
    background: url(img/feedback/glasses_old.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--beard {
    background: url(img/feedback/beard.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__article {
    opacity: 0;
    transition: 0.3s;
    height: 100%;
    color: #fff;
    padding: 17% 20% 0% 10%;
    &:hover {
        opacity: 1;
        transition: 0.3s;
        background-color: rgba(20, 20, 20, 0.7);
    }
}

.reviews__name {
    font-family: "Gagalin";
    font-size: 14rem;
}

.reviews__text {
    font-family: "ubuntu-light";
    font-size: 14rem;
    line-height: 1.8em;
    margin-top: 30rem;
    margin-bottom: 17rem;
}

.button--reviews {
    background-color: $grayblack
}

@include tablets {
    .reviews__card {
        width: 50%;
        height: 25vh;
    }
    .reviews__article {
        text-align: center;
        padding: 12% 10% 7% 10%;
    }
    .reviews__text {
        margin-top: 20rem;
    }
}