@import "colors";
@import "mixin";
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url(img/contacts/footer-bg.png)
}

.сontainer--contacts {
    padding: 12rem 0
}

.contacts {
    width: 50%;
}

.contacts__adress {
    color: #fff;
}

.phone-logo {
    height: 12rem;
    width: 11rem;
    margin-bottom: -2rem;
    margin-right: 7rem;
}

.contacts__number {
    color: #e45028;
    margin-top: 10rem;
    display: inline-block;
}

.social__link {
    color: #e45028;
    margin-top: 10rem;
    display: inline-block;
}

.social {
    width: 50%;
    display: flex;
    justify-content: flex-end
}

.social__item {
    margin-right: 20rem;
    &:last-child {
        margin-right: 0
    }
}

.social-logo {
    max-height: 36rem;
    max-width: 36rem;
    fill: #585858;
    &:hover {
        fill: #fff
    }
}

@include tablets {
    .footer {
        padding-bottom: 40rem;
    }
}

@include phone {
    .сontainer--contacts {
        flex-direction: column;
        text-align: center;
    }
    .contacts {
        width: auto
    }
    .social {
        margin-bottom: 3%
    }
}