@charset "UTF-8";
.header {
  margin-top: 13px; }

.navigation {
  display: flex;
  align-items: center; }

.navigation__list {
  display: flex;
  align-items: center; }

.navigation__element {
  text-align: center; }
  .navigation__element::after {
    content: "•";
    margin-right: 5px;
    color: #ffffff; }

.navigation__element:last-child:after {
  visibility: hidden; }

.navigation__link {
  color: #ffffff;
  font-weight: 500;
  padding: 13px 13px 13px 13px;
  text-transform: uppercase; }

.button {
  color: #ffffff;
  font-weight: 500;
  padding: 13px 13px 13px 13px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #e45028;
  color: #ffffff; }

.sidemenu {
  position: fixed;
  right: 50px;
  top: 93px;
  text-align: center; }

.sidemenu__link {
  background: url(img/page1/sidemenu_dot.png) no-repeat;
  background-position: center center;
  padding: 5px;
  height: 8px;
  width: 8px;
  display: block;
  border: solid 1px transparent;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
  /*
  &:before {
      content: "";
      display: block;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      background: #ffffff
  } */ }
  .sidemenu__link:hover {
    border: solid 1px #ffffff;
    border-radius: 50%;
    transition: 0.3s; }

/*.sidemenu__button--active {
    border: solid 1px #ffffff;
    border-radius: 50%;
}
*/
.sidemenu__button {
  margin-bottom: 12px; }

.nextscreen {
  background: url(img/page1/arrow-scroll.png) no-repeat;
  background-position: center center;
  height: 14px;
  width: 29px;
  margin-bottom: 40px;
  display: inline-block; }

.motto {
  display: flex;
  align-items: center; }

.slogan {
  width: 406px;
  margin-left: 11px;
  text-align: left; }

.section__title {
  font-family: 'gagalin';
  font-size: 72px;
  color: #f9b43b;
  font-weight: 200; }

.section__title--black {
  color: #2f3234; }

.slogan__what {
  font-family: "lifehack";
  font-size: 65px;
  color: #ffffff;
  font-weight: 200; }

.burger {
  background: url(img/page1/drops.png) no-repeat;
  width: 453px;
  text-align: center; }

.burger__pic {
  max-width: 100%;
  margin-top: -65px;
  margin-right: -25px; }

.features {
  display: flex; }

.features__card {
  width: 33%;
  text-align: center;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px; }

.features__name {
  font-family: "lifehack";
  font-size: 24px;
  color: #2f3234;
  margin-top: 35px; }

.features__description {
  font-family: "ubuntu-light";
  font-size: 14px;
  color: rgba(47, 50, 52, 0.8);
  margin-top: 20px;
  line-height: 1.8em; }

.features__logo {
  background-position: center center; }

.features__logo--meat {
  background: url(img/we/meat.png);
  height: 89px;
  width: 97px; }

.features__logo--hand {
  background: url(img/we/hand.png);
  height: 85px;
  width: 73px; }

.features__logo--grass {
  background: url(img/we/grass.png);
  height: 75px;
  width: 88px; }

.reviews {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.reviews__card {
  width: 25%;
  height: 50vh;
  filter: grayscale(1);
  overflow: hidden; }

.reviews__card--girl1 {
  background: url(img/feedback/1girl.png) no-repeat;
  background-size: cover; }

.reviews__card--girl2 {
  background: url(img/feedback/2girl.png) no-repeat;
  background-size: cover; }

.reviews__card--hatguy {
  background: url(img/feedback/hat_guy.png) no-repeat;
  background-size: cover; }

.reviews__card--glassesyoung {
  background: url(img/feedback/glasses_young1.png) no-repeat;
  background-size: cover; }

.reviews__card--blondeguy {
  background: url(img/feedback/blondeguy.png) no-repeat;
  background-size: cover; }

.reviews__card--girl3 {
  background: url(img/feedback/3girl.png) no-repeat;
  background-size: cover; }

.reviews__card--glassesold {
  background: url(img/feedback/glasses_old.png) no-repeat;
  background-size: cover; }

.reviews__card--beard {
  background: url(img/feedback/beard.png) no-repeat;
  background-size: cover; }

.reviews__article {
  opacity: 0;
  transition: 0.3s;
  height: 100%;
  color: #fff;
  padding: 50px 30px 0px 20px; }
  .reviews__article:hover {
    opacity: 1;
    transition: 0.3s;
    background-color: rgba(20, 20, 20, 0.7); }

.reviews__name {
  font-family: "Gagalin";
  font-size: 14px; }

.reviews__text {
  font-family: "ubuntu-light";
  font-size: 14px;
  line-height: 1.8em;
  margin-top: 30px;
  margin-bottom: 17px; }

.button--reviews {
  background-color: #2f3234; }

@font-face {
  font-family: 'ubuntu-b';
  src: url("fonts/ubuntu-b.woff2") format("woff2"), url("fonts/ubuntu-b.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-light';
  src: url("fonts/ubuntu-light.woff2") format("woff2"), url("fonts/ubuntu-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-medium';
  src: url("fonts/ubuntu-medium.woff2") format("woff2"), url("fonts/ubuntu-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-regular';
  src: url("fonts/ubuntu-regular.woff2") format("woff2"), url("fonts/ubuntu-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gagalin';
  src: url("fonts/gagalin-regular.woff2") format("woff2"), url("fonts/gagalin-regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'lifehack';
  src: url("fonts/lifehack_medium.woff2") format("woff2"), url("fonts/lifehack_medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
body {
  font-family: 'ubuntu-medium';
  font-size: 13px;
  display: flex;
  margin: -3px;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  margin: 0 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0; }

a {
  text-decoration: none; }

.button {
  text-decoration: none; }

.firstscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.we {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.wallpaper--firstscreen {
  background: url(img/page1/1pagebackground.png) no-repeat; }

.wallpaper--we {
  background: url(img/we/bg.png) no-repeat; }

.wallpaper {
  background-size: cover;
  height: 100vh;
  background-position: center center; }

.wrapper {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.container__we {
  flex-direction: column; }

.logo__link {
  display: block; }

/*# sourceMappingURL=main.css.map */
