@import "generic",
"header",
"navigation",
"sidemenu",
"motto",
"burger__features",
"feedback",
"buttons",
"screens",
"colors",
"order";
@font-face {
    font-family: 'ubuntu-b';
    src: url('fonts/ubuntu-b.woff2') format('woff2'), url('fonts/ubuntu-b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu-light';
    src: url('fonts/ubuntu-light.woff2') format('woff2'), url('fonts/ubuntu-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu-medium';
    src: url('fonts/ubuntu-medium.woff2') format('woff2'), url('fonts/ubuntu-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu-regular';
    src: url('fonts/ubuntu-regular.woff2') format('woff2'), url('fonts/ubuntu-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gagalin';
    src: url('fonts/gagalin-regular.woff2') format('woff2'), url('fonts/gagalin-regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'lifehack';
    src: url('fonts/lifehack_medium.woff2') format('woff2'), url('fonts/lifehack_medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}