@charset "UTF-8";
html {
  font-size: 1px; }

body {
  font-family: 'ubuntu-medium';
  font-size: 13rem;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    body {
      overflow: auto; } }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  margin: 0 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

.wrapper {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  top: 0px; }

.section-title {
  font-family: 'gagalin';
  font-size: 72rem;
  color: #f9b43b;
  font-weight: 200; }

.section-title--black {
  color: #2f3234; }

.section-title--menu {
  color: #fff;
  margin: 111rem 0px 0px 102rem;
  position: absolute; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 0.8px; } }
.header {
  width: 100%; }

.logo__link {
  display: block; }

.logo__pic {
  width: 100rem;
  height: 100rem; }

.navigation {
  display: flex;
  align-items: center; }

.navigation__list {
  display: flex;
  align-items: center; }

.navigation__element {
  text-align: center; }
  .navigation__element::after {
    content: "•";
    color: #ffffff; }

.navigation__element:last-child:after {
  visibility: hidden; }

.navigation__link {
  color: #ffffff;
  font-weight: 500;
  padding: 5rem;
  text-transform: uppercase; }

@media screen and (max-width: 768px) {
  .navigation {
    display: none; } }
.sidemenu {
  position: fixed;
  right: 50rem;
  top: 93rem;
  text-align: center; }

.sidemenu__button {
  margin-bottom: 12rem;
  cursor: pointer; }

.sidemenu__button--active .sidemenu__link {
  border: solid 1rem #ffffff;
  border-radius: 50%; }

.sidemenu__button:last-child {
  margin: 0; }

.sidemenu__link {
  background: url(img/page1/sidemenu_dot.png) no-repeat;
  background-position: center center;
  padding: 5rem;
  height: 8rem;
  width: 8rem;
  display: block;
  border: solid 1rem transparent;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
  /*
  &:before {
      content: "";
      display: block;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      background: #ffffff
  } */ }
  .sidemenu__link:hover {
    border: solid 1rem #ffffff;
    border-radius: 50%;
    transition: 0.3s; }

@media screen and (max-width: 768px) {
  .sidemenu {
    display: none; } }
.motto {
  display: flex;
  align-items: center;
  width: 100%; }

.slogan {
  margin-left: 11rem;
  text-align: left; }

.slogan__what {
  font-family: "lifehack";
  font-size: 65rem;
  color: #ffffff;
  font-weight: 200; }

.burger {
  background: url(sprite.svg#drops) no-repeat;
  text-align: center;
  position: relative;
  max-width: 70%; }

.burger__pic {
  max-width: 100%;
  margin-top: -25rem;
  position: relative; }

.drops {
  position: absolute;
  bottom: 0rem;
  left: -10rem;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 768px) {
  .motto {
    flex-direction: column; }

  .burger {
    width: auto; }

  .slogan {
    width: auto;
    text-align: center;
    margin: 0; }

  .motto {
    padding: 0 20%; } }
@media screen and (max-width: 480px) {
  .motto {
    padding: 0 20%; }

  .slogan {
    font-size: 63rem; }

  .slogan__what {
    font-size: 54rem; } }
.features {
  display: flex; }

.features__card {
  width: 33%;
  text-align: center;
  padding: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55rem; }

.features__name {
  font-family: "lifehack";
  font-size: 24rem;
  color: #2f3234; }

.features__text {
  margin-top: 35rem; }

.features__description {
  font-family: "ubuntu-light";
  font-size: 14rem;
  color: rgba(47, 50, 52, 0.8);
  margin-top: 20rem;
  line-height: 1.8em; }

.features__logo {
  background-position: center center;
  min-width: 97rem; }

.features__logo--meat {
  /* background: url(img/we/meat.png); */
  height: 89rem; }

.features__logo--hand {
  /* background: url(img/we/hand.png); */
  height: 85rem; }

.features__logo--grass {
  /* background: url(img/we/grass.png); */
  height: 75rem; }

@media screen and (max-width: 480px) {
  .features {
    flex-direction: column; }

  .section-title {
    font-size: 50rem; }

  .features__card {
    width: 100%;
    flex-direction: row;
    text-align: left;
    margin-top: 0rem;
    padding: 3%; }

  .features__logo {
    margin-right: 25rem; }

  .features__text {
    margin-top: 0rem;
    line-height: 1.5em; } }
.reviews {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.reviews__card {
  width: 25%;
  height: 50vh;
  filter: grayscale(1);
  overflow: hidden;
  position: relative; }

.reviews__card--girl1 {
  background: url(img/feedback/1girl.png) no-repeat;
  background-size: cover;
  background-position: center; }

.reviews__card--girl2 {
  background: url(img/feedback/2girl.png) no-repeat;
  background-size: cover;
  background-position: center; }

.reviews__card--hatguy {
  background: url(img/feedback/hat_guy.png) no-repeat;
  background-size: cover;
  background-position: center; }

.reviews__card--glassesyoung {
  background: url(img/feedback/glasses_young1.png) no-repeat;
  background-size: cover;
  background-position: center; }

.reviews__card--blondeguy {
  background: url(img/feedback/blondeguy.png) no-repeat;
  background-size: cover;
  background-position: center; }

.reviews__card--girl3 {
  background: url(img/feedback/3girl.png) no-repeat;
  background-size: cover;
  background-position: center; }

.reviews__card--glassesold {
  background: url(img/feedback/glasses_old.png) no-repeat;
  background-size: cover;
  background-position: center; }

.reviews__card--beard {
  background: url(img/feedback/beard.png) no-repeat;
  background-size: cover;
  background-position: center; }

.reviews__article {
  opacity: 0;
  transition: 0.3s;
  height: 100%;
  color: #fff;
  padding: 13% 15% 0% 6%;
  position: relative; }
  .reviews__article:hover {
    opacity: 1;
    transition: 0.3s;
    background-color: rgba(20, 20, 20, 0.7); }

.reviews__name {
  font-family: "Gagalin";
  font-size: 14rem; }

.reviews__text {
  font-family: "ubuntu-light";
  font-size: 14rem;
  line-height: 1.7em;
  margin-top: 30rem;
  margin-bottom: 17rem; }

.button__text {
  display: none; }

.button__text--mobile {
  display: none; }

.feedback-popup {
  display: none;
  background: rgba(47, 50, 52, 0.99);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden; }

.feedback-popup__window {
  background: #fff;
  display: flex;
  overflow: hidden;
  min-width: 200rem;
  max-width: 40%;
  min-height: 100rem;
  border-radius: 5px;
  position: relative;
  padding: 13rem; }

.feedback-popup__name {
  font-family: "gagalin";
  font-size: 14rem;
  color: #2f3234; }

.feedback-popup__text {
  font-family: "ubuntu-light";
  font-size: 14rem;
  color: #2f3234;
  line-height: 1.5em;
  margin-top: 10rem; }

@media screen and (max-width: 768px) {
  .reviews__card {
    width: 50%;
    height: 25vh; }

  .reviews__article {
    text-align: center;
    padding: 3% 2% 1% 2%; }

  .reviews__text {
    margin-top: 2%;
    margin-bottom: 3%;
    line-height: 1.5em; } }
@media screen and (max-width: 480px) {
  .reviews__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .reviews__name {
    margin-bottom: 14%;
    font-size: 24rem; }

  .reviews__text {
    display: none; }

  .button__text {
    display: none; }

  .button__text--mobile {
    display: inline; } }
.firstscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.we {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.wallpaper--firstscreen {
  background: url(img/page1/1pagebackground.png) no-repeat; }

.wallpaper--we {
  background: url(img/we/bg.png) no-repeat; }

.wallpaper--order {
  background: url(img/order/background.png) no-repeat; }

.wallpaper--team {
  background: url(img/team/bg.png) no-repeat; }

.wallpaper--menu {
  background: url(img/menu/bg.png); }

.wallpaper--map {
  background: url(img/contacts/map.png) no-repeat; }

.wallpaper--slider {
  background: linear-gradient(to top, #f9b43b, #eb8c38 48%, #f9b43b 74%); }

.wallpaper {
  background-size: cover;
  height: 100vh;
  background-position: center center;
  position: relative;
  overflow: auto; }

.container {
  width: calc(100% - 50rem);
  max-width: 960rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container__column {
  flex-direction: column; }

.form {
  margin-top: 44rem; }

.form__elem {
  display: flex; }

.form__column {
  flex: 1;
  margin-right: 20rem; }
  .form__column:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-top: 20rem; }
  .form__row:first-child {
    margin-top: 0; }

.form__block {
  flex: 1;
  margin-right: 20rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  background: #fff;
  border-radius: 3rem;
  border: 2rem solid #fff;
  padding: 8rem 21rem;
  width: 100%;
  font-family: "ubuntu-light";
  font-size: 14rem;
  font-weight: 200;
  color: #2f3234; }
  .form__input--textarea {
    resize: none;
    height: 110rem; }
  .form__input:focus {
    border-color: #f9b43b;
    border-radius: 3rem;
    outline: none; }

.form__block-title {
  color: #fff;
  font-size: 14rem;
  font-family: "ubuntu-light";
  margin-bottom: 7rem; }

.form__block--radiocheck {
  display: flex; }

.form__radio {
  position: relative;
  margin-bottom: 0; }

.form__trueradio {
  visibility: hidden; }

.form__label--radio {
  margin-left: 10rem; }

.form__fakeradio {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  background: #ffffff;
  display: block; }
  .form__fakeradio:before {
    content: "";
    height: 7rem;
    width: 7rem;
    background-color: #e45028;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
    visibility: hidden; }

.form__fakedot {
  height: 7rem;
  width: 7rem;
  background-color: #e45028;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  visibility: hidden; }

.form__fakeradio--checkbox {
  border-radius: 0%;
  height: 16rem;
  width: 16rem; }
  .form__fakeradio--checkbox:before {
    background: url(img/order/check_mark.png) no-repeat;
    height: 100%;
    width: 100%;
    background-position: center center; }

.form__trueradio:checked ~ .form__fakeradio:before {
  visibility: visible; }

@media screen and (max-width: 768px) {
  .order {
    text-align: center; }

  .form__elem {
    flex-direction: column;
    padding: 0 17%;
    text-align: left; }

  .form__column {
    margin: 0; }
    .form__column:last-child {
      margin-top: 20rem; } }
@media screen and (max-width: 480px) {
  .form__elem {
    padding: 0; }

  .form__block:nth-child(4) {
    display: none; }
  .form__block:nth-child(3) {
    margin-right: 0; }

  .form__elem {
    text-align: center; }

  .form__block-title {
    text-align: left; }

  .form__input--textarea {
    margin-bottom: 3%; }

  .form__block--radiocheck {
    justify-content: center;
    margin-bottom: 3%; }

  .form__fakeradio {
    top: 3rem; } }
@media screen and (max-height: 620px) {
  .form {
    margin-top: 0; }

  .form__row {
    margin-top: 3rem; }

  .form__column:last-child {
    margin-top: 3rem; }

  .section-title {
    font-size: 50rem;
    line-height: 0.8em; }

  .form__input--textarea {
    margin-bottom: 0; }

  .form__block-title {
    margin-bottom: 3rem; } }
.team-aside {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100vh;
  background: rgba(49, 52, 54, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%; }

.team-block {
  display: flex;
  flex-direction: column;
  align-items: center; }

.accordeon {
  margin-top: 35rem; }

.accordeon__content {
  height: 0rem;
  overflow: hidden;
  transition: 0.3s; }

.accordeon__card {
  margin-top: 35rem; }
  .accordeon__card:first-child {
    margin-top: 0; }

.accordeon__about {
  overflow: hidden;
  font-family: "ubuntu";
  font-size: 14rem;
  color: #fff;
  display: flex;
  transition: 0.3s;
  padding-left: 17rem;
  padding-top: 17rem; }

.accordeon__card--active .accordeon__name {
  color: #f9b43b; }
  .accordeon__card--active .accordeon__name:before {
    border-bottom: 6rem solid #f9b43b;
    border-top: 0; }

.accordeon__name {
  font-family: "gagalin";
  color: #fff;
  font-size: 14rem;
  text-transform: uppercase;
  position: relative; }
  .accordeon__name:before {
    content: url(img/team/arrow_down.png);
    height: 7rem;
    width: 9rem;
    margin-right: 9rem;
    content: ".";
    color: transparent;
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-top: 6rem solid #f9b43b;
    right: 100%;
    top: 8rem; }

.accordeon__position {
  font-weight: bold; }

.accordeon__picture {
  overflow: hidden;
  height: 100rem;
  width: 100rem;
  border-radius: 50%;
  text-align: center;
  position: relative; }

.accordeon__memberpic {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.accordeon__description {
  max-width: 208rem;
  margin-left: 17rem; }

.accordeon__skill {
  margin-top: 17rem;
  line-height: 1.6em; }

@media screen and (max-width: 768px) {
  .team-aside {
    width: 100%;
    padding-top: 20%; }

  .accordeon {
    text-align: center;
    margin-top: 49rem; }

  .accordeon__card {
    margin-top: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    padding-top: 7rem;
    transition: 0.3s; }

  .accordeon__picture {
    overflow: hidden;
    height: 100rem;
    width: 100rem;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-bottom: 22rem; }

  .accordeon__name {
    font-size: 25rem; }

  .accordeon__about {
    padding-left: 0; }

  .accordeon__description {
    margin-left: 0; } }
@media screen and (max-width: 480px) {
  .team-aside {
    padding-top: 37%; } }
.menu-aside {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 600rem; }

.menu-accordeon {
  display: flex;
  height: 100%;
  position: relative;
  justify-content: flex-end; }

.menu-accordeon__card {
  /* transform: rotate(270deg); */
  display: flex;
  height: 100vh;
  max-width: 100%; }

.menu-accordeon__content {
  width: 0;
  overflow: hidden;
  transition: 0.3s; }

.menu-accordeon__about {
  font-family: "ubuntu-light";
  color: #fff;
  line-height: 1.6em;
  font-size: 14rem;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.9);
  height: 100%;
  padding: 62rem 37rem 10rem 33rem;
  min-width: 540rem;
  box-sizing: border-box; }

.menu-accordeon__card--active .menu-accordeon__button {
  color: #f9b43b; }

.menu-accordeon__name {
  transform: rotate(180deg);
  background-color: rgba(20, 20, 20, 0.7);
  height: 100vh;
  text-align: left;
  white-space: nowrap;
  writing-mode: vertical-lr;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40rem 0rem 0rem 0rem; }

.menu-accordeon__button--myasoet {
  background: url(img/menu/myasoet.png) no-repeat; }

.menu-accordeon__button--veg {
  background: url(img/menu/veg.png) no-repeat; }

.menu-accordeon__button--diet {
  background: url(img/menu/diet.png) no-repeat; }

.menu-accordeon__button {
  font-family: "gagalin";
  font-size: 36rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-color: rgba(20, 20, 20, 0.7);
  display: block;
  width: 81px;
  box-sizing: border-box; }

@media screen and (max-width: 768px) {
  .menu-aside {
    width: 100vw;
    min-width: auto; }

  .menu-accordeon__about {
    min-width: calc(100vw - 81px);
    padding: 50rem 25rem 10rem 15rem; }

  .menu-accordeon__card--active {
    position: absolute;
    z-index: 2; } }
@media screen and (max-width: 480px) {
  .menu-accordeon__name {
    padding: 20rem 0rem 0rem 0rem; }

  .menu-accordeon__button {
    width: 61px; }

  .menu-accordeon__about {
    padding: 50rem 10rem 10rem 15rem;
    min-width: calc(100vw - 61px); } }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url(img/contacts/footer-bg.png); }

.сontainer--contacts {
  padding: 12rem 0; }

.contacts {
  width: 50%; }

.contacts__adress {
  color: #fff; }

.phone-logo {
  height: 12rem;
  width: 11rem;
  margin-bottom: -2rem;
  margin-right: 7rem; }

.contacts__number {
  color: #e45028;
  margin-top: 10rem;
  display: inline-block; }

.social__link {
  color: #e45028;
  margin-top: 10rem;
  display: inline-block; }

.social {
  width: 50%;
  display: flex;
  justify-content: flex-end; }

.social__item {
  margin-right: 20rem; }
  .social__item:last-child {
    margin-right: 0; }

.social-logo {
  max-height: 36rem;
  max-width: 36rem;
  fill: #585858; }
  .social-logo:hover {
    fill: #fff; }

@media screen and (max-width: 480px) {
  .сontainer--contacts {
    flex-direction: column;
    text-align: center; }

  .contacts {
    width: auto; }

  .social {
    margin-bottom: 3%; } }
.container--slider {
  height: 100%;
  justify-content: center;
  overflow: hidden; }

.sliders-list {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  left: 0; }

.slider-buttons {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100rem; }

.slider-button__arrow--left {
  transform: rotate(90deg); }

.slider-button__arrow--right {
  transform: rotate(270deg); }

.slider-card {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 105rem 0rem;
  min-width: 100%;
  overflow: hidden; }

.slider-card__graphics {
  width: 50%;
  height: 100%; }

.slider-card__text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.slider-card__name {
  color: #fff; }

.slider-card__about {
  font-family: "ubuntu-light";
  font-size: 14rem;
  margin-top: 20rem;
  line-height: 1.8em;
  color: #fff; }

.slider-card__price {
  color: #e45028;
  font-family: "gagalin"; }

.slider-card__price--big {
  font-size: 72rem; }

.slider-card__price--small {
  font-size: 30rem;
  margin-right: 29rem; }

.slider-card__graphics {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

.dish-composition {
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 90rem;
  height: 90rem;
  border-radius: 5rem;
  background-color: #f08c33;
  transition: 0.3s;
  cursor: pointer; }
  .dish-composition:hover {
    background-color: #e35028;
    transition: 0.3s; }
    .dish-composition:hover .popup {
      opacity: 1;
      transition: 0.3s; }

.dish-composition__sprite {
  height: 44rem;
  width: 46rem;
  position: absolute;
  left: 22rem;
  bottom: 32rem; }

.dish-composition__text {
  position: absolute;
  font-family: 'gagalin';
  font-size: 14rem;
  color: #fff;
  bottom: 13rem;
  left: 23rem; }

.dish-calories {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  opacity: 0.6; }

.dish-calories__sprite {
  height: 60rem;
  width: 60rem;
  fill: #ffffff; }

.dish-calories__text {
  position: absolute;
  font-family: 'gagalin';
  font-size: 14rem;
  color: #fff; }

.dish-calories__text--numbers {
  top: 50%;
  left: 18rem; }

.dish-calories__text--letters {
  left: 13rem;
  top: 62rem; }

.slider-card__picture-box {
  max-width: 90%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.slider-card__picture {
  max-width: 100%; }

.popup {
  position: absolute;
  background: rgba(232, 233, 235, 0.9);
  border-radius: 5rem;
  left: 90rem;
  top: 0;
  opacity: 0;
  transition: 0.3s;
  padding: 20rem;
  min-width: 300%;
  display: flex; }

.popup__exit {
  height: 20rem;
  margin-left: 30rem;
  display: none; }

.popup__list {
  width: 100%; }

.popup__item {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 155rem; }

.popup__sprite {
  height: 50rem;
  width: 50rem; }

.popup__name {
  padding: 15rem; }

.popup__count {
  position: absolute;
  right: 0rem;
  font-family: 'ubuntu-light'; }

.dish-composition .dish-composition__cross {
  height: 20rem;
  width: 20rem; }

@media screen and (max-width: 768px) {
  .burger {
    max-width: 75%; }

  .popup__exit {
    height: 20rem;
    margin-left: 30rem;
    display: block; }

  .slider-card {
    flex-direction: column;
    max-width: 79%;
    padding: 7% 0; }

  .slider-card__name {
    line-height: 0.9em; }

  .slider-card__graphics {
    width: 100%;
    justify-content: center; }

  .slider-card__picture-box {
    max-width: 315rem;
    margin-bottom: -10%; }

  .slider-card__text {
    width: 90%;
    text-align: center;
    justify-content: flex-start; }

  .dish-calories {
    right: 0rem;
    top: 0rem;
    bottom: auto;
    left: auto; }

  /* позже допилю
  .dish-composition {
      &:hover {
          background-color: #f08c33;
          .popup {
              opacity: 0;
          }
      }
  } */ }
@media screen and (max-width: 480px) {
  .popup {
    min-width: 250%;
    padding: 10rem; }

  .popup__exit {
    margin-left: 15rem; }

  .slider-card {
    max-width: 100%;
    padding: 20% 0; }

  .slider-card__name {
    font-size: 50rem; }

  .slider-card__about {
    line-height: 1.5em;
    margin-top: 7rem; }

  .container--slider {
    width: 95%; }

  .slider-card__picture-box {
    max-width: 300rem; }

  .burger {
    max-width: 100%; } }
.wallpaper--fullscreen {
  background: rgba(47, 50, 52, 0.99);
  position: fixed;
  width: 100%;
  right: -100%;
  z-index: 2;
  transition: 0.3s; }

.container--fullscreen {
  flex-direction: column;
  height: 100%; }

.fullscreen__header {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.vertical-menu-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

.vertical-menu-list__link {
  color: #fff;
  font-family: 'ubuntu-regular';
  font-size: 24rem;
  text-transform: uppercase; }

.vertical-menu-list__element {
  position: relative;
  margin-top: 40rem; }
  .vertical-menu-list__element:last-child::after {
    display: none; }
  .vertical-menu-list__element::after {
    position: absolute;
    content: "•";
    top: 40rem;
    right: 50%;
    color: #ffffff; }
  .vertical-menu-list__element:first-child {
    margin-top: 0; }

/*.cross  {
    background: c1c2c2;
    height: 100px; 
    width: 20px;
    position: relative; 
    left: 40px;
    }
    .cross:after {
    content: "";
    height: 20px; 
    width: 100px;
    background: c1c2c2;
    position: absolute; 
    left: -40px; 
    top: 40px;
    } */
button {
  text-decoration: none;
  border: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent; }
  button:focus {
    outline: none; }

.arrow-sprite {
  width: 20rem; }

.button {
  font-weight: 500;
  padding: 13rem 13rem 13rem 13rem;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  max-width: max-content; }

.button--orange {
  background-color: #e45028;
  transition: 0.3s;
  /* &:hover {
      background-color: transparent;
      transition: 0.3s
  } */ }

.button--reviews {
  transition: 0.3s;
  background-color: #2f3234;
  position: absolute;
  bottom: 15rem;
  left: 33%; }
  .button--reviews:hover {
    transition: 0.3s;
    background-color: #1f2122; }
  .button--reviews:after {
    content: "читать отзыв";
    position: absolute;
    left: 3rem;
    display: none; }
  @media screen and (max-width: 480px) {
    .button--reviews {
      color: transparent;
      bottom: 15%; }
      .button--reviews:after {
        display: inline-block;
        color: #fff; } }

.nextscreen {
  height: 14rem;
  width: 29rem;
  margin-bottom: 40rem;
  display: inline-block; }

.nextscreen__sprite {
  max-height: 20rem;
  max-width: 30rem; }

.button-burger {
  display: none;
  position: fixed;
  top: 35rem;
  right: 20rem;
  /*
  background-color: #fff;
  width: 24px;
  height: 4px;
  border-radius: 2rem;
  margin-left: 30rem;
  &:before {
      content: "";
      width: 24px;
      height: 4px;
      border-radius: 2rem;
      position: absolute;
      background: #fff;
      top: -10rem;
      right: 0rem;
  }
  &:after {
      content: "";
      width: 24px;
      height: 4px;
      border-radius: 2rem;
      position: absolute;
      background: #fff;
      top: 10rem;
      right: 0rem
  } */ }

.button-burger__element {
  background-color: #fff;
  width: 24px;
  height: 4px;
  border-radius: 2rem;
  margin-left: 30rem;
  margin: 4rem;
  display: none; }

.navigation__buttons-block {
  display: flex;
  align-items: center; }

.slider-button {
  height: 100%;
  display: flex;
  align-items: center; }

@media screen and (max-width: 768px) {
  .button-burger {
    display: block; }

  .button-burger__element {
    display: block; }

  .button--order {
    margin-right: 50rem; } }
.button--slider {
  font-family: "ubuntu-medium"; }

.cross-pic {
  height: 20rem;
  width: 20rem; }

.cross-pic--white {
  fill: #c1c2c2; }

.cross-pic--red {
  fill: #eb8364; }

.popup__exit--feedback {
  display: block;
  position: absolute;
  right: 10rem;
  top: 10rem; }

.modal {
  display: none;
  background: rgba(47, 50, 52, 0.99);
  position: fixed;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden; }

.modal-window {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.5);
  min-width: 200rem;
  min-height: 105rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20rem; }

.modal-window--text {
  color: black;
  font-family: "ubuntu";
  font-size: 14rem;
  text-align: center;
  margin-bottom: 10rem; }

@font-face {
  font-family: 'ubuntu-b';
  src: url("fonts/ubuntu-b.woff2") format("woff2"), url("fonts/ubuntu-b.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-light';
  src: url("fonts/ubuntu-light.woff2") format("woff2"), url("fonts/ubuntu-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-medium';
  src: url("fonts/ubuntu-medium.woff2") format("woff2"), url("fonts/ubuntu-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu-regular';
  src: url("fonts/ubuntu-regular.woff2") format("woff2"), url("fonts/ubuntu-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gagalin';
  src: url("fonts/gagalin-regular.woff2") format("woff2"), url("fonts/gagalin-regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'lifehack';
  src: url("fonts/lifehack_medium.woff2") format("woff2"), url("fonts/lifehack_medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */
