        @import "colors";
        .menu-aside {
            position: absolute;
            right: 0;
            max-width: 100%;
            height: 100%;
        }
        
        .menu-accordeon {
            display: flex;
            height: 100%;
        }
        
        .menu-accordeon__card {
            /* transform: rotate(270deg); */
            display: flex
        }
        
        .menu-accordeon__about {
            width: 0px;
            font-family: "ubuntu-light";
            color: #fff;
            line-height: 1.6em;
            font-size: 14rem;
            overflow: hidden;
        }
        
        .menu-accordeon__card--active .menu-accordeon__about {
            min-width: 540rem;
            background-color: rgba($color: #2f3234, $alpha: 0.9);
            height: 100%;
            padding: 62rem 37rem 0rem 33rem;
        }
        
        .menu-accordeon__card--active .menu-accordeon__button {
            color: $orange-y;
            background-color: rgba(20, 20, 20, 0.7)
        }
        
        .menu-accordeon__name {
            transform: rotate(180deg);
            padding: 40rem 25rem 0rem 25rem;
            background-color: rgba(20, 20, 20, 0.7);
            height: 100%;
            white-space: nowrap;
            writing-mode: vertical-lr;
        }
        
        .menu-accordeon__button--myasoet {
            background: url(img/menu/myasoet.png) no-repeat
        }
        
        ;
        .menu-accordeon__button--veg {
            background: url(img/menu/veg.png) no-repeat
        }
        
        ;
        .menu-accordeon__button--diet {
            background: url(img/menu/diet.png) no-repeat
        }
        
        .menu-accordeon__button {
            box-sizing: content-box;
            font-family: "gagalin";
            font-size: 36rem;
            text-transform: uppercase;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0;
            background-size: cover;
            background-size: cover;
            height: 100vh;
            background-position: center center;
        }