@import "colors";
.navigation {
    display: flex;
    align-items: center
}

.navigation__list {
    display: flex;
    align-items: center
}

.navigation__element {
    text-align: center;
    &::after {
        content: "•";
        margin-right: 5rem;
        color: #ffffff
    }
}

.navigation__element:last-child:after {
    display: none
}

.navigation__link {
    color: #ffffff;
    font-weight: 500;
    padding: 13rem;
    text-transform: uppercase;
}