@import "colors";
.nextscreen {
    background: url(img/page1/arrow-scroll.png) no-repeat;
    background-position: center center;
    height: 14px;
    width: 29px;
    margin-bottom: 40px;
    display: inline-block
}