@import "colors";
.form {
    margin-top: 44rem
}

.form__elem {
    display: flex;
}

.form__column {
    flex: 1;
    margin-right: 20rem;
    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-top: 20rem;
    &:first-child {
        margin-top: 0
    }
}

.form__block {
    flex: 1;
    margin-right: 20rem;
    &:last-child {
        margin-right: 0
    }
}

.form__input {
    background: #fff;
    border-radius: 3rem;
    border: 2rem solid #fff;
    padding: 8rem 21rem;
    width: 100%;
    font-family: "ubuntu-light";
    font-size: 14rem;
    font-weight: 200;
    color: $grayblack;
    &--textarea {
        resize: none;
        height: 110rem;
    }
    &:focus {
        border-color: $orange-y;
        border-radius: 3rem;
        outline: none
    }
}

.form__block-title {
    color: #fff;
    font-size: 14rem;
    font-family: "ubuntu-light";
    margin-bottom: 7rem;
}

.form__block--radiocheck {
    display: flex
}

.form__radio {
    position: relative;
    margin-bottom: 0
}

.form__trueradio {
    visibility: hidden;
}

.form__label--radio {
    margin-left: 10rem
}

.form__fakeradio {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    background: #ffffff;
    display: block;
    &:before {
        content: "";
        height: 7rem;
        width: 7rem;
        background-color: $orange;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto auto;
        visibility: hidden;
    }
}

.form__fakedot {
    height: 7rem;
    width: 7rem;
    background-color: $orange;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
    visibility: hidden;
}

.form__fakeradio--checkbox {
    border-radius: 0%;
    height: 16rem;
    width: 16rem;
    &:before {
        background: url(img/order/check_mark.png) no-repeat;
        height: 100%;
        width: 100%;
        background-position: center center
    }
}

.form__trueradio:checked~.form__fakeradio:before {
    visibility: visible
}