@import "colors";
.sidemenu {
    position: fixed;
    right: 50rem;
    top: 93rem;
    text-align: center
}

.sidemenu__button {
    margin-bottom: 12rem;
}

.sidemenu__button--active {
    .sidemenu__link {
        border: solid 1rem #ffffff;
        border-radius: 50%;
    }
}

.sidemenu__button:last-child {
    margin: 0
}

.sidemenu__link {
    background: url(img/page1/sidemenu_dot.png) no-repeat;
    background-position: center center;
    padding: 5rem;
    height: 8rem;
    width: 8rem;
    display: block;
    border: solid 1rem transparent;
    border-radius: 50%;
    transition: 0.3s;
    position: relative;
    /*
    &:before {
        content: "";
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        background: #ffffff
    } */
    &:hover {
        border: solid 1rem #ffffff;
        border-radius: 50%;
        transition: 0.3s
    }
}

@media screen and (max-width:768px) {
    .sidemenu {
        display: none
    }
}