    @import 'colors',
    'mixin';
    .video__container {
        width: 75%;
        overflow: hidden;
        position: relative;
        margin-top: 60rem;
        @include tablets {
            width: 95%
        }
    }
    
    .video__player {
        position: relative;
    }
    
    #video {
        max-height: 100%;
        max-width: 100%;
    }
    
    .video__play {
        position: absolute;
        top: 30%;
        left: 45%;
        max-width: 17%;
    }
    
    .video__play--active {
        display: none
    }
    
    .video__toolbar {
        background: #3e3e3e;
        height: 30rem;
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 0
    }
    
    .duration {
        display: flex;
        flex: 1;
        align-items: center;
        margin-right: 10rem;
        margin-left: 10rem;
    }
    
    .duration__length::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: #626262;
        cursor: pointer;
        width: 13px;
        height: 13px;
        border-radius: 50%;
    }
    
    .duration__length {
        width: 100%;
        height: 4px;
        border-radius: 1px;
        background: #626262;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
    }
    
    .sound {
        display: flex;
        margin-right: 10rem;
        align-items: center;
        width: 25%;
    }
    
    .sound__volume {
        margin-top: -5rem;
        width: 100%;
    }
    
    .duration__length--sound {
        height: 4px;
    }
    
    .video__toolbar-icon {
        margin-right: 3rem;
    }
    
    .duration,
    .sound,
    .duration__length {
        cursor: pointer;
    }