@import "colors";
@import "mixin";
.reviews {
    display: flex;
    width: 100%;
    flex-wrap: wrap
}

$grayblack: #2f3234;
.reviews__card {
    width: 25%;
    height: 50vh;
    filter: grayscale(1);
    overflow: hidden;
    position: relative;
}

.reviews__card--girl1 {
    background: url(img/feedback/1girl.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--girl2 {
    background: url(img/feedback/2girl.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--hatguy {
    background: url(img/feedback/hat_guy.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--glassesyoung {
    background: url(img/feedback/glasses_young1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--blondeguy {
    background: url(img/feedback/blondeguy.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--girl3 {
    background: url(img/feedback/3girl.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--glassesold {
    background: url(img/feedback/glasses_old.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__card--beard {
    background: url(img/feedback/beard.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews__article {
    opacity: 0;
    transition: 0.3s;
    height: 100%;
    color: #fff;
    padding: 13% 15% 0% 6%;
    &:hover {
        opacity: 1;
        transition: 0.3s;
        background-color: rgba(20, 20, 20, 0.7);
    }
    position: relative;
}

.reviews__name {
    font-family: "Gagalin";
    font-size: 14rem;
}

.reviews__text {
    font-family: "ubuntu-light";
    font-size: 14rem;
    line-height: 1.7em;
    margin-top: 30rem;
    margin-bottom: 17rem;
}

.button__text {
    display: none
}

.button__text--mobile {
    display: none;
}

.feedback-popup {
    display: none;
    background: rgba(47, 50, 52, 0.99);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    z-index: 3;
}

.feedback-popup__window {
    //display:none;
    background: #fff;
    display: flex;
    overflow: hidden;
    min-width: 200rem;
    max-width: 40%;
    min-height: 100rem;
    border-radius: 5px;
    position: relative;
    padding: 13rem;
    z-index: 3;
}

.feedback-popup__name {
    font-family: "gagalin";
    font-size: 14rem;
    color: #2f3234
}

.feedback-popup__text {
    font-family: "ubuntu-light";
    font-size: 14rem;
    color: #2f3234;
    line-height: 1.5em;
    margin-top: 10rem;
}

@include tablets {
    .reviews__card {
        width: 50%;
        height: 25vh;
    }
    .reviews__article {
        text-align: center;
        padding: 3% 2% 1% 2%;
    }
    .reviews__text {
        margin-top: 2%;
        margin-bottom: 3%;
        line-height: 1.5em
    }
}

@include phone {
    .reviews__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reviews__name {
        margin-bottom: 14%;
        font-size: 24rem;
    }
    .reviews__text {
        display: none
    }
    .button__text {
        display: none
    }
    .button__text--mobile {
        display: inline;
    }
}