    @import "colors",
    'mixin';
    .menu-aside {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        min-width: 600rem;
    }
    
    .menu-accordeon {
        display: flex;
        height: 100%;
        position: relative;
        justify-content: flex-end;
    }
    
    .menu-accordeon__card {
        /* transform: rotate(270deg); */
        display: flex;
        height: 100vh;
        max-width: 100%;
    }
    
    .menu-accordeon__content {
        width: 0;
        overflow: hidden;
        transition: 0.3s;
    }
    
    .menu-accordeon__about {
        font-family: "ubuntu-light";
        color: #fff;
        line-height: 1.6em;
        font-size: 14rem;
        overflow: hidden;
        background-color: rgba($color: #2f3234, $alpha: 0.9);
        height: 100%;
        padding: 62rem 37rem 10rem 33rem;
        min-width: 540rem;
        box-sizing: border-box;
    }
    
    .menu-accordeon__card--active .menu-accordeon__button {
        color: $orange-y;
    }
    
    .menu-accordeon__name {
        transform: rotate(180deg);
        background-color: rgba(20, 20, 20, 0.7);
        height: 100vh;
        text-align: left;
        white-space: nowrap;
        writing-mode: vertical-lr;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 40rem 0rem 0rem 0rem;
        @include tablets {
            padding: 80rem 0rem 0rem 0rem
        }
    }
    
    .menu-accordeon__button--myasoet {
        background: url(img/menu/myasoet.png) no-repeat
    }
    
    ;
    .menu-accordeon__button--veg {
        background: url(img/menu/veg.png) no-repeat
    }
    
    ;
    .menu-accordeon__button--diet {
        background: url(img/menu/diet.png) no-repeat
    }
    
    .menu-accordeon__button {
        //box-sizing: content-box;
        font-family: "gagalin";
        font-size: 36rem;
        text-transform: uppercase;
        color: #ffffff;
        padding: 0;
        background-size: cover;
        height: 100vh;
        background-position: center center;
        background-color: rgba(20, 20, 20, 0.7);
        display: block;
        width: 81px;
        box-sizing: border-box
    }
    
    @media screen and (max-width:768px) {
        .menu-aside {
            width: 100vw;
            min-width: auto;
        }
        .menu-accordeon__about {
            //  width: calc(100% - 80rem);
            min-width: calc(100vw - 81px);
            padding: 50rem 25rem 10rem 15rem;
        }
        .menu-accordeon__card--active {
            position: absolute;
            z-index: 2;
        }
    }
    
    @include phone {
        .menu-accordeon__button {
            width: 61px;
        }
        .menu-accordeon__about {
            padding: 50rem 10rem 10rem 15rem;
            min-width: calc(100vw - 61px);
        }
    }