@import "colors";
.navigation {
    display: flex;
    align-items: center
}

.navigation__list {
    display: flex;
    align-items: center
}

.navigation__element {
    text-align: center;
    &::after {
        content: "•";
        //margin-right: 5rem;
        color: #ffffff
    }
    cursor: pointer;
}

.navigation__element:last-child:after {
    visibility: hidden;
}

.navigation__link {
    color: #ffffff;
    font-weight: 500;
    padding: 5rem;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .navigation {
        display: none
    }
}